*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style:none;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.menus{
    display:flex;
    
}
.item{
    margin:10px ;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}   
.logo{
    width: 120px;
}
.item:hover{
    color: rgb(114, 143, 238);
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url("/photos/background.png"),linear-gradient(45deg,rgb(0, 0, 0),rgb(40, 33, 33));
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top:15px ;
    margin-bottom: 15px;
}
.btn{
    background-color: red;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    border:none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(45, 45, 101);
}
.about{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.about-container{
    display: flex;
    justify-content: space-around;
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.service{
    width: 230px;
    height: 280px;
    box-shadow: 8px 8px 15px gray;
    text-align: center;
    padding: 15px;
    background-image: url("/photos/background.png"),linear-gradient(45deg,rgb(0, 0, 0),rgb(40, 33, 33));
    
    color: white;
}
.our-services-container{
   background-color: black;
   background-image: url("/photos/background.png"),linear-gradient(45deg,rgb(0, 0, 0),rgb(40, 33, 33));

}
.icon{
    width:100px ;
}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.footer-container{
    background-color: black;
    color: white;
    padding: 25px;
}
.footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
}


